<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration>
  <connectionStrings>
    <add name="CadEntities" connectionString="metadata=res://*/Context.CadModel.csdl|res://*/Context.CadModel.ssdl|res://*/Context.CadModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=xxxxx;password=xxxxx;persist security info=True;user id=xxxxx&quot;" providerName="System.Data.EntityClient" />    
  </connectionStrings>
  <appSettings>
    <!--Attachment Properties-->
    <add key="Env" value="TEST" />
    <add key="apiUri" value="http://xxxxx/Energy-Delivery/FieldOrder/api/v1/" />
    <add key="sharepointUri" value="https://xxxxx/sites/PGL16/" />
    <add key="username" value="xxxxx" />
    <add key="password" value="xxxxx" />
    <add key="domain" value="TINTEGRYS" />
    <add key="CadAttachmentFTServerRepository" value="//xxxxx/CGI/CAD_Data/FTServerRepository/" />
    <!--Send Attachments Xml to Message Queue(IS.NOTE_ATTACHMENTS.RQ)-->
    <add key="ContentUserId" value="xxxxx" />
    <add key="EnableDetailedLogging" value="false" />
    <add key="ContentMock" value="false" />
    <add key="ContentType" value="application/json" />
    <add key="QueueName" value="CIS.NOTE_ATTACHMENTS.RQ" />
    <add key="MqSSLKeyRepository" value="C:\Program Files\IBM\WebSphere MQ\ssl\mq-truststore" />
    <add key="TopicApiAuth" value="xxxxx" />
    <!--Service properties-->
    <add key="IsDebug" value="true" />
    <!--Service installation parameters-->
    <add key="ServiceName" value="PCad_Attachments.CISNoteAdd" />
    <add key="ServiceDescription" value="Attachments Notes to OCIS" />
    <!-- Set to LOCAL, DEV, TST, STG, PRD per installation -->
    <add key="Env" value="LOCAL" />
    <add key="DEV_ApiTopicUri" value="https://xxxxx/information-technology/messaging/mv1/basic/rest/queues" />
    <!-- Queue to manager to process from -->
    <add key="QueueManagerName" value="WMD01" />
    <!--Queue to process from-->
    <add key="QueueName" value="CIS.NOTE_ATTACHMENTS.RQ" />
    <add key="MessagingProperties" value="registrationVersion=rv1,OriginSystem=CSS" />
    <!--http://xxxxx/Energy-Delivery/FieldOrder/api/v1/field-jobs/get-disposed-jobs-by-origin?" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>